@model GestaoFacil.Models.FuncionarioData
<!-- Content Header (Page header) -->
<!--<section class="content-header">
    <h1>
        Colaboradores
    </h1>
</section>-->
<!-- Main content -->
<!--<section class="content container-fluid">-->
<!-- Horizontal Form -->
<!--<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Incluir Colaborador</h3>
    </div>-->
<!-- /.box-header -->
<!-- form start -->
<!--<hr />
<div class="row">
    <div class="col-md-6">


        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="cpf" class="control-label"></label>
                <input asp-for="cpf" class="form-control" />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataCadastro" class="control-label"></label>
                <input asp-for="DataCadastro" class="form-control" />
                <span asp-validation-for="DataCadastro" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Salario" class="control-label"></label>
                <input asp-for="Salario" class="form-control" />
                <span asp-validation-for="Salario" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Celular" class="control-label"></label>
                <input asp-for="Celular" class="form-control" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TelResidencial" class="control-label"></label>
                <input asp-for="TelResidencial" class="form-control" />
                <span asp-validation-for="TelResidencial" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Ativo" /> .DisplayNameFor(model => model.Ativo)
                </label>
            </div>

            <div class="form-group">
                <input type="submit" value="Criar Paciente" class="btn btn-default" />
            </div>
        </form>
        <div>
            <a asp-action="Index">retornar</a>
        </div>-->
<!-- /.box -->
<!--</div>
        </div>
    </div>
</section>-->



<link rel="stylesheet" href="~/css/site.css">

<div class="box box-primary">

    <div class="box-header with-border">
        <h3 class="box-title">Cadastro de colaborador</h3>
    </div>

    <!-- /.box-header -->
    <!-- form start -->
    <form asp-action="Create">

        <div class="form-row">
            <div class="form-group col-md-4">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group col-md-3">
                <label class="control-label">CPF</label>
                <input asp-for="cpf" class="form-control" />
                <span asp-validation-for="cpf" class="text-danger"></span>
            </div>
            <div class="form-group col-md-5">
                <label for="inputCity">Celular</label>
                <input asp-for="Celular" class="form-control celular" />
                <span asp-validation-for="Celular" class="text-danger"></span>
            </div>
        </div>

        <div class="form-row">
            <div class="form-group offset-8 col-md-4">
                <label for="inputState">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
        </div>
        <div class="form-row">
            <div class="form-check col-md-12">
                <input type="checkbox" class="form-check-input" id="ckbAtivo">
                <label class="form-check-label" for="exampleCheck1">Ativo</label>
            </div>
        </div>
        <div class="form-row">
            <div class=" offset-6 col-md-6" style="text-align: left;">
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </div>

        <div class="container justify-content-lg-start" style="padding-bottom: 10px;"></div>

    </form>
</div>