<ul class="sidebar-menu" data-widget="tree">

    <li class="header">Menu</li>
    <!-- Optionally, you can add icons to the links -->
    <li class="treeview">


        <!--Coloboradores -->
        <a href="#">
            <i class="fa fa-users"></i> <span>Colaboradores</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Funcionario" asp-action="Create">Incluir Novo</a></li>
            <li><a asp-area="" asp-controller="Funcionario" asp-action="Index">Exibir Todos</a></li>
        </ul>


        <!--Servico -->
        <a href="#">
            <i class="fa fa-cut"></i> <span>Serviço</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Servico" asp-action="Create">Incluir Novo</a></li>
            <li><a asp-area="" asp-controller="Servico" asp-action="Index">Exibir Todos</a></li>
        </ul>

        <!--Produdo -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Produtos</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>

        <!--Vale -->
        <a href="#">
            <i class="fa fa-user"></i> <span>Vales</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Vale" asp-action="Create">Incluir Novo</a></li>
            <li><a asp-area="" asp-controller="Vale" asp-action="Index">Exibir Todos</a></li>
        </ul>

        <!--Despesas-->
        <a href="#">
            <i class="fa fa-user"></i> <span>Depesas</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>



        <!--Faturamento-->
        <a href="#">
            <i class="fa fa-money"></i> <span>Faturamento</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>


        <!--Relatorio-->
        <a href="#">
            <i class="fa fa-user"></i> <span>Relatório</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>

        <!--Agendar-->
        <a href="#">
            <i class="fa fa-calendar-minus-o"></i> <span>Agendar</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>


        <!--Atendiento avulso-->
        <!--<a href="#">
            <i class="fa fa-money"></i> <span>Atendimento Avulso</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a href="/Pacientes/Create">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>-->

        <!--calendar-->
        <!--<a href="#">
            <i class="fa fa-money"></i> <span>Atendimento Avulso</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li><a asp-area="" asp-controller="Calendario" asp-action="Index">Incluir Novo</a></li>
            <li><a href="/Pacientes">Exibir Todos</a></li>
        </ul>-->


    </li>
</ul>